[submodule "libs/filesystem"]
	path = libs/filesystem
	url = https://github.com/wjakob/filesystem.git
[submodule "libs/glm"]
	path = libs/glm
	url = https://github.com/g-truc/glm.git
[submodule "libs/glfw"]
	path = libs/glfw
	url = https://github.com/glfw/glfw.git
[submodule "libs/rapidjson"]
	path = libs/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "libs/stb"]
	path = libs/stb
	url = https://github.com/nothings/stb.git
